body{
color: rgb(216, 3, 3);
background-color: rgb(56, 42, 42);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
footer {
background-color: red;
color: pink;
bottom: 0;
}

#container{
    display: flex;
}

.cartao{
    margin: 1rem 1rem;
}